@model FiltersModel

<div>
    <div>Method: 
        <select name="method">
            <option key="" value="" />
            @foreach (var method in Model.Distincts.Methods)
            {
                <option selected="@(method == Model.Filters.Method)">@method</option>
            }
        </select>
    </div>
    <div>Request: 
        <select name="requestUrl">
            <option key="" value="" />
            @foreach (var requestUrls in Model.Distincts.RequestUrls.Take(100))
            {
                <option selected="@(requestUrls == Model.Filters.RequestUrl)">@requestUrls</option>
            }
        </select>
    </div>
    <div>StatusCode: 
        <select name="statusCode">
            <option key="" value="" />
            @foreach (var statusCode in Model.Distincts.StatusCodes)
            {
                <option selected="@(statusCode == Model.Filters.StatusCode)">@statusCode</option>
            }
        </select>
    </div>
    <div>Number of Std Devs: 
        <input name="deviations" type="text" value="@Model.Filters.Deviations"/>
    </div>
    
    <button type="submit">Go</button>
</div>