@page
@model IndexModel
@{
    ViewData["Title"] = "Stats";
}

<div>
    <h3>Statistics Calculation Options</h3>
    <form method="get">
        @Html.Partial("_Filters", new FiltersModel(Model.Filters, Model.Distincts))
    </form>
    <br/>
    <h3>Result Statistics</h3>
    <div>Average Duration: @Model.Stats.AverageDuration ms</div>
    <div>Number of Requests: @Model.Stats.DurationCount</div>
    <br/>
    <div>Standard Deviation: @Model.Stats.StandardDeviation ms</div>
    <br/>
    <div>Average Duration of Requests within @Model.Stats.Filters.Deviations Std Devs of Avg: @Model.Stats.AverageDurationWithinDeviations ms</div>
    <div>Number of Requests within @Model.Stats.Filters.Deviations Std Devs of Avg: @Model.Stats.DurationWithinDeviationsCount </div>
    <br/>
    <div>Number of Requests outside of @Model.Stats.Filters.Deviations Std Devs from Avg: @Model.Stats.RequestsOutsideOfDeviations </div>
    <div>Percentage of Requests outside of @Model.Stats.Filters.Deviations Std Devs from Avg: @Model.Stats.PercentageOutsideOfDeviations% </div>
    <br/>
    <h3>Status Code Counts</h3>
    <table>
        <thead>
            <tr>
                <th>Status Code</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Stats.StatusCodeCounts)
        {
            <tr>
                <td>@((int)item.StatusCode) (@item.StatusCode)</td>
                <td>@item.Count</td>
            </tr>
        }
        </tbody>
    </table>
    <br/>
    <h3>Slowest Request Durations</h3>
    <table>
        <thead>
            <tr>
                <th>Duration (ms)</th>
                <th>Method</th>
                <th>Request Url</th>
                <th>Status Code</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Stats.SlowestRequests)
        {
            <tr>
                <td>@item.ElapsedMilliseconds</td>
                <td>@item.Method</td>
                <td>@item.RequestUrl</td>
                <td>@((int)item.StatusCode) (@item.StatusCode)</td>
            </tr>
        }
        </tbody>
    </table>
    <br/>
    <h3>Fastest Request Durations</h3>
    <table>
        <thead>
            <tr>
                <th>Duration (ms)</th>
                <th>Method</th>
                <th>Request Url</th>
                <th>Status Code</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Stats.FastestRequests)
        {
            <tr>
                <td>@item.ElapsedMilliseconds</td>
                <td>@item.Method</td>
                <td>@item.RequestUrl</td>
                <td>@((int)item.StatusCode) (@item.StatusCode)</td>
            </tr>
        }
        </tbody>
    </table>
</div>